# Environment Config (dev/prod)
FLASK_ENV=dev
FLASK_APP=app.py

# Secrets (Change in Production!)
SECRET_KEY=super-secret-floating-antigravity-key
WTF_CSRF_SECRET_KEY=another-super-secret-csrf-token-key

# Database
# For SQLite, it defaults to database/expense.db if not defined
# DATABASE_URL=sqlite:///d:/Task Manager/Expensive Tracker/database/expense.db
